# Video Game Sales with Ratings
## About Dataset
### Context
Motivated by Gregory Smith's web scrape of VGChartz Video Games Sales, this data set simply extends the number of variables with another web scrape from Metacritic. Metacritic is a website that aggregates reviews of films, TV shows, music albums, video games and formerly, books. For each product, the scores from each review are averaged. Unfortunately, there are missing observations as Metacritic only covers a subset of the platforms. Also, a game may not have all the observations of the additional variables discussed below. Complete cases are ~ 6,900
### Content

Alongside the fields: Name, Platform, YearofRelease, Genre, Publisher, NASales, EUSales, JPSales, OtherSales, Global_Sales, we have:-

    Critic_score - Aggregate score compiled by Metacritic staff
    Criticcount - The number of critics used in coming up with the Criticscore
    User_score - Score by Metacritic's subscribers
    Usercount - Number of users who gave the userscore
    Developer - Party responsible for creating the game
    Rating - The ESRB ratings


About Dataset

The dataset contains the total population and urban population for each year (1951 - 2020) as well as the population growth rate as a percentage. The dataset can be used to study population trends and understand how the global population has changed over time.

Tabular data includes:

    year
    population
    yearly_growth_percentage
    yearly_growth
    pop_density_km2
    urban_population
    urban_population_percentage

### Data Frame

In [15]:
import pandas as pd
df = pd.read_csv('world-population.csv')
df.sample(5)

,year,population,yearly_growth_percentage,yearly_growth,pop_density_km2,urban_population,urban_population_percentage
3,1954,2724846741,1.76%,47237781,18,850179106,31%
55,2006,6623518000,1.25%,81611000,44,3289446000,50%
57,2008,6789089000,1.24%,83142000,46,3439719000,50%
40,1991,5414289444,1.63%,87058383,36,2347462336,43%
43,1994,5663150427,1.46%,81552881,38,2518254111,44%

### Preprocessing

In [20]:
# Find out the number of values which are not numeric
print(df['year'].astype(str).str.isnumeric().value_counts())
print(df['population'].astype(str).str.isnumeric().value_counts())
print(df['yearly_growth'].astype(str).str.isnumeric().value_counts())
print(df['yearly_growth_percentage'].astype(str).str.isnumeric().value_counts())
print(df['pop_density_km2'].astype(str).str.isnumeric().value_counts())
# Hi

True    70
Name: year, dtype: int64
True    70
Name: population, dtype: int64
True    70
Name: yearly_growth, dtype: int64
False    70
Name: yearly_growth_percentage, dtype: int64
True    70
Name: pop_density_km2, dtype: int64

In [38]:
#remove "%" to make it number
def removePercentage(d):
      return float(d[:-1])/100
df['yearly_growth_percentage']= df['yearly_growth_percentage'].apply(removePercentage)
df

,year,population,yearly_growth_percentage,yearly_growth,pop_density_km2,urban_population,urban_population_percentage
0,1951,2584034261,0.0188,47603112,17,775067697,30%
1,1952,2630861562,0.0181,46827301,18,799282533,30%
2,1953,2677608960,0.0178,46747398,18,824289989,31%
3,1954,2724846741,0.0176,47237781,18,850179106,31%
4,1955,2773019936,0.0177,48173195,19,877008842,32%
...,...,...,...,...,...,...,...
65,2016,7464022000,0.0114,84225000,50,4060653000,54%
66,2017,7547859000,0.0112,83837000,51,4140189000,55%
67,2018,7631091000,0.0110,83232000,51,4219817000,55%
68,2019,7713468000,0.0108,82377000,52,4299439000,56%
69,2020,7795000000,0.0105,81331000,52,4378900000,56%